* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  /* color: #333; */

}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  /* position: fixed; */
  height: 50px;
  background-color: #e1f0e1;
}
.nav-bar .container {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  padding: 0 10px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.nav-bar .container .container-left h2 {
  font-family: 'Pacifico', cursive;  
  width: 251px;
  /* padding-right: 30%;  */
}
.nav-bar .container .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 15px;
  /* padding-left: 20%; */
}
.nav-bar .container .container-center a {
  cursor: pointer;
  margin-right: 5%;
  text-align: center;
}

.nav-bar .container .container-center a:hover {
  text-decoration: underline;
}
.nav-bar .container .container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 15px;
  font-weight: bold;
}
.nav-bar .container .container-right a {
  cursor: pointer;
}

@media (min-width: 500px) {
  .nav-bar .container{
    width: 500px;
  }
  .nav-bar .container .container-left h2 {
    width: 135px;
    padding: 0;
    margin: 0;
  }
  .nav-bar .container .container-center {
    width: 100px;
    padding: 0;
    margin: 0;
    flex: 2;
  }
  .nav-bar .container .container-right {
    width: 265px;
    padding: 0;
    margin: 0;
  }
}
/* 
  Working on the media below
*/

@media (min-width: 800px) {
  .nav-bar .container {
    width: 800;
  }
  .nav-bar .container .container-left h2{
    width: 266px;
    padding: 0;
    margin: 0;
  }
  .nav-bar .container .container-center {
    width: 266px;
    padding: 0;
    margin: 0;
  }
  .nav-bar .container .container-right {
    width: 266px;
    padding: 0;
    margin: 0;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
}

.header-img{
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  padding: 50px 0;
}

@media (min-width: 1280px) {
  .header {
    width: 1280px;
  }
}
@media(max-width: 500px){
  .header-img {
    display: none;
  }
}
.header h1 {
  font-size: 60px;
  font-family: Didot, serif;
  font-weight: bold;
  flex: 8;
  text-align: center;
  color: #000;
}

.introduction {
  margin: 0 auto;
  width: 67.2%;
}
.introduction h2{
  text-align: center;
}

.introduction p {
  max-width: 100%;
}


.tabs {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 47px;
  /* background-color: #fff; */
  background-color: #e1f0e1;
}
@media (min-width: 1200px) {
  .tabs {
    width: 1200px;
  }
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .cards-container {
    width: 1200px;
  }
}
.cards-container .card {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  margin: 16px 0;
  padding: 24px;
}
.cards-container .card .headline {
  font-size: 25px;
  padding-bottom: 10px;
}
.cards-container .card .author {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.cards-container .card .author .img-container {
  padding-right: 10px;
  border-right: 1px solid lightgrey;
  height: 100px;
}
.cards-container .card .author .img-container img {
  width: 100px;
}
.cards-container .card .author span {
  padding-left: 10px;
  font-size: 1rem;
  font-weight: bold;
}